* {
  font-family: sans-serif;
}
/*  start heading page*/
body {
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
}
.landing-page {
  width: 80%;
  margin: auto;
  text-align: center;
  height: 80%;
}
.landing-page > img {
  margin: 60px 0px;
}
@media (max-width: 576px) {
  .landing-page > img {
    max-width: 90px;
    margin: 25px;
  }
}
.landing-page > h1 {
  color: rgb(80, 88, 91);
  margin: 40px 0px;
}
@media (max-width: 576px) {
  .landing-page > h1 {
    color: rgb(80, 88, 91);
    margin: 15px 0px;
    font-size: 30px;
  }
}
.landing-page > p {
  color: rgb(126, 126, 126);
  line-height: 1.8;
  margin: 30px auto;
  width: 70%;
}
@media (max-width: 576px) {
  .landing-page > p {
    color: rgb(126, 126, 126);
    line-height: 1.8;
    margin: 10px auto;
    width: 95%;
  }
}
.landing-page button {
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
.landing-page button:nth-of-type(1) {
  background-color: rgb(40, 186, 165);
}
.landing-page button:nth-of-type(2) {
  background-color: rgb(98, 116, 254);
}
.landing-page .btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 576px) {
  .landing-page .btn-container {
    margin-top: 20px;
    flex-direction: column;
  }
}
/*end heading page*/
/* start section one */
.container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
@media (max-width: 576px) {
  .section-one p {
    width: 300px;
    margin-left: 35px;
  }
}
.section-one {
  text-align: center;
}
.section-one h2 {
  color: rgb(74, 83, 91);
}
.section-one p {
  color: rgb(126, 126, 126);
  line-height: 1.8;
}
/* end section one */
/* start section tow*/
.section-tow {
  display: flex;
  gap: 100px;
  margin-top: 70px;
}
@media (max-width: 576px) {
  .section-tow {
    flex-direction: column;
    gap: 10px;
  }
}
.col-img,
.col-text {
  width: 50%;
}
@media (max-width: 576px) {
  .col-img,
  .col-text {
    width: 100%;
    text-align: center;
  }
}
.col-text {
  margin-top: 30px;
}
.col-text h3 {
  color: rgb(80, 88, 91);
}
.col-text p {
  line-height: 1.5;
  color: rgb(126, 126, 126);
}
@media (max-width: 576px) {
  .col-text .box > p {
    width: 230px;
    margin: auto;
  }
}
.col-text .box {
  margin-top: 35px;
}
.section-tow > .col-img > img {
  max-width: 100%;
  margin-left: -32px;
}
@media (max-width: 576px) {
  .section-tow > .col-img > img {
    width: 75%;
    margin-left: auto;
  }
}
/* end section tow*/

/* start section three*/
.section-three {
  width: 80%;
  margin: auto;
  text-align: center;
}
@media (max-width: 576px) {
  .section-three {
    margin-top: 180px;
  }
}
.section-three .txt h3 {
  color: rgb(80, 88, 91);
}
.section-three .txt p {
  color: rgb(126, 126, 126);
  line-height: 1.5;
}
.section-three .img {
  margin: auto;
  width: 80%;
  margin-top: 80px;
}
@media (max-width: 576px) {
  .section-three .img {
    margin-top: 15%;
  }
}
.section-three .img > img {
  width: 100%;
}
@media (max-width: 576px) {
  .section-three .img > img {
    width: 450px;
    margin-left: -100px;
  }
}
/* end section three*/
/* start section foor*/
.section-foor > .container {
  margin: auto;
  width: 80%;
  text-align: center;
}
.section-foor .container h3 {
  color: rgb(80, 88, 91);
}
.section-foor .container p {
  color: rgb(126, 126, 126);
}
/* end section foor*/
/* start section five*/
.section-five .container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  gap: 30px;
}
@media (max-width: 576px) {
  .section-five .container {
    flex-direction: column;
    text-align: center;
    margin-left: 75px;
    gap: Opx;
  }
  .section-five .container h4 {
    margin: 0%;
  }
}
.section-five .container img {
  width: 40px;
}
.section-five .container h4 {
  color: rgb(80, 88, 91);
  margin: 40px 0px 15px 0px;
}
.section-five .container p {
  color: rgb(126, 126, 126);
  line-height: 1.8;
}
/* end section five*/
/* start section six*/
.section-six {
  display: flex;
  margin: 90px auto;
  width: 80%;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .section-six {
    flex-direction: column;
    gap: 40px;
    margin-top: 20%;
  }
  .section-six img {
    width: 100px;
    align-self: center;
    margin-left: 20px;
  }
}
/* end section six*/
/* start section seven*/
.section-seven .container {
  width: 80%;
  text-align: center;
  margin-top: 50px;
}
.section-seven .container h3 {
  color: rgb(80, 88, 91);
}
.section-seven .container p {
  color: rgb(126, 126, 126);
  line-height: 1.8;
  margin: 25px 0px 50px 0px;
}
.section-seven .container .btn {
  display: flex;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 576px) {
  .section-seven .container .btn {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.section-seven .container .btn button {
  padding: 18px;
  width: 20%;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
@media (max-width: 576px) {
  .section-seven .container .btn button {
    width: 100%;
  }
}
.section-seven .container .btn button:nth-of-type(1) {
  background-color: rgb(40, 186, 165);
}
.section-seven .container .btn button:nth-of-type(2) {
  background-color: rgb(98, 116, 254);
}
/* end section seven*/
/* start footer*/
footer {
  background-color: rgb(219, 219, 219);
  border-radius: 30px;
}
@media (max-width: 576px) {
  footer {
    background-color: rgb(255, 255, 255);
    border-radius: none;
    margin-top: 0%;
  }
}
footer .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  footer .container {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }
}
footer .container > img {
  width: 50px;
}
footer .container .txt a {
  text-decoration: none;
  display: block;
  margin: 20px;
  color: rgb(133, 132, 132);
  font-size: 15px;
}
footer .container a:hover {
  color: rgb(40, 186, 165);
}
footer .container a {
  text-decoration: none;
  color: rgb(133, 132, 132);
  font-size: 15px;
  transition: 1s;
}
footer .container .social-media a img {
  margin: 5px;
  width: 20px;
}
@media (max-width: 576px) {
  footer .container .social-media a img {
    margin-top: 40px;
  }
}
/* end footer*/
